<body>
<% @abouts.each do |about| %>
<section class="section section-page-title" style="background-image:url('<%= image_url(about.header_image) %>')">
  <div class="overlay">
    <h1><%= about.header_title %></h1>
  </div>
  <!--overlay-->
</section>
<!--============== end section page banner ==============-->
<section class="section section-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
      <%= image_tag(about.image, alt: "")%>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 pt-30">
        <h1><%= about.title %></h1>
        
        <p>
        <%= about.paragraph1 %>
        </p>
     
        <p>
        <%= about.paragraph2 %>
        </p>

        <p>
        <%= about.paragraph3 %> 
        </p>
        <% end %>

        <a href="about.html" class="btn btn-primary">View Portfolio</a> </div>
    </div>
  </div>
</section>
<!--section_about-->

</body>
</html>
