
<body>
<div id="mycarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item"> 

    <% @indices.each do |index| %>
    <%= image_tag(index.slider1, alt: "First Image") %>
      <div class="carousel-caption">
        <div class="carousel-caption-inner">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-md-offset-7">
                <h1>Professional<br/>
                  Makeup Artist</h1>
                <p>Whatever the occasion is, be sure that my <strong>professional makeup</strong> work and products will make you <strong>shine</strong> and stand out!</p>
              </div>
            </div>
          </div>
        </div>
        <!--carousel-caption-inner-->
      </div>
      <!--carousel-caption-->
    </div>
    <!--item 1-->
    <div class="item"> 
    <%= image_tag(index.slider2, alt: "") %>
    
      <div class="carousel-caption">
        <div class="carousel-caption-inner">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-md-offset-5">
                <h1>Professional<br/>
                  Makeup Artist</h1>
                <p>Whatever the occasion is, be sure that <strong>my professional</strong> makeup work and products will make you <strong>shine </strong>and stand out!</p>
              </div>
            </div>
          </div>
        </div>
        <!--carousel-caption-inner-->
      </div>
      <!--carousel-caption-->
    </div>
    <!--item 2-->
  </div>
  <!--carousel-inner-->
  <!-- Controls -->
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev"> <span class="fa fa-angle-left" aria-hidden="true"></span> </a> <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next"> <span class="fa fa-angle-right" aria-hidden="true"></span> </a> </div>
<!--mycarousel-->
<section class="section section-services">
  <!-- section-title -->
  <div class="section-title text-center">
    <h1 class="decor">Makeup and Hair <span>Stylist Services</span></h1>
  </div>
  <!-- end section-title -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box service-color-one">
          <div class="service-img">
          <%= image_tag(index.service_image, alt: "") %>
          </div>
          <div class="service-contents">
            <h1><%= index.service_title %></h1>
            <p><%= index.description %></p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>
            <%= number_to_currency index.price %></strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="service-box service-color-two">
          <div class="service-img">
          <%= image_tag(index.service_image2, alt: "") %>
          </div>
          <div class="service-contents">
            <h1><%= index.service_title2 %></h1>
            <p><%= index.description2 %></p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>
            <%= number_to_currency index.price2 %></strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="service-box service-color-three">
          <div class="service-img">
          <%= image_tag(index.service_image3, alt: "") %>
          </div>
          <div class="service-contents">
            <h1><%= index.service_title3 %></h1>
            <p><%= index.description3 %></p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>
            <%= number_to_currency index.price3 %></strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
       
        </div>
        <!--service-box-->
      </div>
      <!--col-md-3-->
       <!--col-md-3-->
      <div class="col-md-3 col-sm-6">
        <div class="service-box service-color-two">
          <div class="service-img">
          <%= image_tag(index.service_image2, alt: "") %>
          </div>
          <div class="service-contents">
            <h1><%= index.service_title2 %></h1>
            <p><%= index.description2 %></p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>
            <%= number_to_currency index.price2 %></strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
    </div>
     <% end %>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--section-services-->

<section id="news" class="section section-blog">
  <!-- section-title -->
  <div class="section-title text-center">
    <h1 class="decor">See what’s new on <span>my Blog</span></h1>
  </div>
  <!-- end section-title -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="post-entry">
          <div class="post-thumbnail"> 
          <%= image_tag("blog/placeholder.jpg", alt: "") %>
          <a href="#"> <i class="fa fa-link"></i> </a> </div>
          <!--post-thumbnial-->
          <h2> <a href="#">How to wash and style curly hair</a> </h2>
          <ul class="entry-meta">
            <li> <i class="fa fa-calendar"></i>07 June 2014 </li>
            <li> <i class="fa fa-comments"></i> <a href="#">7 Comments</a> </li>
          </ul>
          <p>In recent years, an increasingly big number of African American women take a fashion decision to return to their natural...</p>
          <a class="btn btn-primary" href="post.html">Read More </a> </div>
        <!--post-entry-->
      </div>
      <!--end col-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="post-entry">
          <div class="post-thumbnail"> 
          <%= image_tag("blog/placeholder.jpg", alt: "") %>
          <a href="#"> <i class="fa fa-link"></i> </a> </div>
          <!--post-thumbnial-->
          <h2> <a href="#">Returning to a natural hair texture</a> </h2>
          <ul class="entry-meta">
            <li> <i class="fa fa-calendar"></i>07 June 2014 </li>
            <li> <i class="fa fa-comments"></i> <a href="#">9 Comments</a> </li>
          </ul>
          <p>In recent years, an increasingly big number of African American women take a fashion decision to return to their natural...</p>
          <a class="btn btn-primary" href="post.html">Read More </a> </div>
        <!--post-entry-->
      </div>
      <!--end col-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--section-blog-->


</body>
</html>
