<section class="section section-logos pt-zero">
  <!-- section-title -->
  <div class="section-title text-center">
  <br>
    <h1 class="decor">Featured <span>on</span></h1>
  </div>
  <!-- end section-title -->
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo1.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo2.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo3.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo4.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo5.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-center">
        <div class="cleint-logo"> 
        <%= image_tag("logos/logo6.png", alt: "") %>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--section-logo-->

<a class="goto-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<!--go to top-->